$midnight-blue: #2C3E50;
$turquoise: #1ABC9C;
$nephritis: #27AE60;
$pomegranate: #C0392B;
$peter-river: #3498DB;
$belize-hole: #2980B9;
$clouds: #ECF0F1;
$sun-flower: #F1C40F;
$concrete: #95A5A6;
$silver: #BDC3C7;

$black: $midnight-blue;
$white: $clouds;
