@font-face {
  font-family: "Entypo Social";
  src: url("/assets/entypo-social.eot");
  src: url("/assets/entypo-social.eot?#iefix") format("embedded-opentype"),
       url("/assets/entypo-social.woff") format("woff"),
       url("/assets/entypo-social.ttf") format("truetype"),
       url("/assets/entypo-social.svg#testfontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
