// RESPONSIVE STUFF
@media all and (min-width: 1280px){
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 800px) {
}
@media all and (max-width: 400px) {
  body {
    width: 100%;
  }
  header {
    .social {
      font-size: 2.5em;
      a {
      }
    }
  }
  header,
  footer {
    .wrapper {
      padding: 0 1em;
    }
  }
  section {
    .wrapper {
      @include box-sizing;
      padding: 0 1em;
      width: 100%;
    }
  }
}
