@font-face {
  font-family: "statelybrazil";
  src: url("/assets/statelybrazil.eot");
  src: url("/assets/statelybrazil.eot?#iefix") format("embedded-opentype"),
       url("/assets/statelybrazil.woff") format("woff"),
       url("/assets/statelybrazil.ttf") format("truetype"),
       url("/assets/statelybrazil.svg#testfontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.statelybrazil {
  font-size-adjust: none;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -ms-font-feature-settings: "liga", "dlig";
  overflow: hidden;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  .statelybrazil-state {
    float: left;
    margin: -20% 0 0 -100%;
    position: relative;
    left: 101%;
    width: 100%;
    cursor: default;
    -webkit-transition: all 1s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
