body,
input,
select,
textarea {
  font-family: 'Lato', sans-serif;
}
pre,
code,
samp {
  font-family: 'Menlo', 'Monaco', 'Andale Mono', monospace;
}
.big-number {
  font-family: 'Impact', 'AvenirNextCondensed-Heavy', sans-serif;
}
.social {
  font-family: 'Entypo Social';
}
