@import 'fontface';
@import 'colours';
@import 'helpers';
@import 'typography';
body {
  color: $black;
  background-color: $white;
}
a {
  color: $belize-hole;
  text-decoration: none;
  &:hover {
    color: lighten($belize-hole, 10%);
  }
}
.wrapper {
  margin: 0 auto;
}
header {
  background-color: $midnight-blue;
  overflow: hidden;
  padding: 4em 0 0 0;
  border-bottom: 5px solid $sun-flower;
  .wrapper {
    position: relative;
  }
  .social {
    position: absolute;
    top: -4.5em;
    right: 0;
    a {
      color: $white;
      font-size: 4em;
      text-decoration: none;
      margin-left: .25em;
    }
  }
}

.social {
  a {
    font-size: 4em;
    text-decoration: none;
    margin-left: .25em;
  }
}

h1 {
  margin: 0;
  padding: 4em 0 0 0;
  a {
    background-image: url(reputacao-sa.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: 100%;
    width: 500px;
    height: 92px;
    text-indent: -9999em;
    display: block;
  }
}

.main-copy {
  width: 500px;
  float: left;
  .main-description {
    color: $white;
    font-size: 1.5em;
  }
}

.button.main-cta {
  display: inline-block;
  background: $peter-river;
  color: white;
  font-weight: 900;
  text-align: center;
  padding: .5em 1em;
  border-radius: 6px;
  margin: .5em 0;
}

.showcase-image {
  background-image: url(showcase.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: 100%;
  width: 490px;
  float: right;
  height: 500px;
  margin-right: 100px;
}

.info-box {
  @include box-sizing;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  color: $white;
  padding: 20px;
  h2 {
    margin: 0;
    line-height: 1em;
    min-height: 3em;
  }
  p {
    margin: 1em 0 0;
    min-height: 7em;
  }
  .content {
    border-radius: 4px;
    padding: 20px;
    a {
      @include box-sizing;
      display: inline-block;
      width: 100%;
      padding: .5em;
      margin-top: .5em;
      text-align: center;
      border-radius: 3px;
      &:hover {
        opacity: .75;
      }
      &:focus {
        outline: 2px solid $sun-flower;
      }
    }
  }
  .good {
    background-color: $nephritis;
    a {
      background-color: $white;
      color: $nephritis;
    }
  }
  .bad {
    background-color: $alizarin;
    a {
      background-color: $white;
      color: $alizarin;
    }
  }
  .info {
    background-color: $peter-river;
    a {
      background-color: $white;
      color: $peter-river;
    }
    input {
      @include box-sizing;
      margin-top: .75em;
      border: 0 none;
      border-radius: 4px;
      background: darken($white, 5%);
      padding: .5em;
      width: 100%;
      &:focus {
        background: $white;
        color: $peter-river;
        box-shadow: $white 0 0 4px;
        outline: none;
      }
    }
  }
  .now {
    background-color: $amethyst;
    a {
      background-color: $white;
      color: $amethyst;
    }
  }
}

.main {
  padding: 4em 0;
}

.install {
  display: none;
  overflow: hidden;
  p.main-instruction {
    text-align: center;
    font-size: 1.5em;
    img {
      display: block;
      margin: 1em auto;
    }
  }
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    li {
      margin-bottom: 1em;
      background-color: darken($clouds, 5%);
      border-radius: 6px;
      p {
        padding: 1em 0;
      }
    }
    samp {
      font-family: 'Lato', sans-serif;
      color: $white;
      font-weight: 900;
      background-color: $orange;
      display: inline-block;
      padding: .25em .5em;
      border-radius: 4px;
    }
  }
  .ios,
  .android {
    @include box-sizing;
    width: 50%;
    float: left;
    text-align: center;
  }
}

footer {
  font-size: .875em;
  p {
    strong {
      display: block;
    }
    &.last {
      text-align: center;
    }
    &.useful-links {
      a {
        display: block;
      }
    }
  }
  .box {
    @include box-sizing;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-right: 20px;
  }
  .dataviz,
  .license {
    margin: 1em 0;
    display: block;
  }
  .dataviz {
    max-width: 100px;
  }
  .license {
    width: 75px; // @2x
  }
  .social {
    text-align: center;
  }
}
// RESPONSIVE STUFF
@media all and (min-width: 1280px){
  .wrapper {
    width: 1200px;
  }
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
  h1 a {
    width: 100%;
  }
  .wrapper {
    width: 960px;
  }
  header {
    .main-copy,
    .showcase-image {
      width: 38%;
    }
  }
}
@media
  all and (max-width: 800px),
  all and (max-width: 400px) {
  html,
  body,
  .wrapper,
  h1 a,
  .main-copy,
  .showcase-image {
    width: 100% !important;
  }
  header {
    padding-top: 0;
    h1 {
      padding-top: 1em;
    }
    .social {
      display: block;
      position: static;
      text-align: center;
      clear: both;
      margin: 0 -5px;
      background-color: $peter-river;
    }
  }
  .info-box {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  .install {
    .ios,
    .android {
      display: block;
      float: none;
      width: 100%;
      text-align: center;
    }
  }
  .showcase-image {
    margin-right: 0;
    height: 300px;
  }
  .main-copy {
    text-align: center;
  }
  .wrapper {
    @include box-sizing;
    padding: 0 5px;
  }
  footer {
    .box {
      width: 100%;
      display: block;
      text-align: center;
    }
    .dataviz,
    .license {
      margin: 0 auto;
      display: block;
    }
  }
}
