@import 'fontface';
@import 'helpers';
@import 'typography';
@import 'colours';
@import 'statelybrazil';
@import 'home';

body {
  color: $black;
  background-color: $white;
  padding-top: 3em;
}

a {
  color: $belize-hole;
  text-decoration: none;
  &:hover {
    color: lighten($belize-hole, 10%);
  }
}

.panel {
  @include box-sizing;
  @include transition(all .25s ease-in-out);
  @include transform(translateY(-600px));
  position: fixed;
  width: 100%;
  opacity: 0;
  padding: 26px 10px 10px 10px;
  background-color: $white;
  border-bottom: 2px solid $black;
  &.open {
    @include transform(translateY(0px));
    opacity: 1;
  }
}

.big-number {
  font-size: 2em;
}

header {
  @include box-sizing;
  position: fixed;
  background-color: $wet-asphalt;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  box-shadow: darken($black, 5%) 0 0 2px;
  .wrapper {
    margin: 0 auto;
  }
  h1 {
    @include box-sizing;
    float: left;
    width: 50%;
    margin: .5em 0;
    padding: 0;
    font-size: 1.25em;
    a {
      display: block;
      width: 160px;
      text-indent: -9999em;
      background: url("reputacao-sa.png") no-repeat scroll left top;
      background-size: 100%;
    }
  }
  .social,
  nav.nav {
    @include box-sizing;
    float: left;
    text-align: right;
    width: 50%;
  }
  .social {
    font-size: 4em;
    line-height: 2.75rem;
    a {
      margin-left: .15em;
    }
  }
  nav.nav {
    position: relative;
    a {
      color: $white;
    }
    &.open-nav {
      ul {
        @include transform(translateY(0px));
        opacity: 1;
      }
    }
    ul {
      @include transition(all .25s ease-in-out);
      @include transform(translateY(-600px));
      position: absolute;
      opacity: 0;
      background-color: $wet-asphalt;
      right: -.5em;
      top: 3em;
      z-index: 2;
      margin: 0;
      padding: 0;
      width: 200px;
      li {
        font-size: 1.25em;
        font-weight: 300;
        margin: 0;
        padding: 0;
        display: block;
      }
      a {
        padding: .5em .75em;
        display: block;
      }
    }
  }
  .open-search,
  .toggle-menu {
    font-size: 3em;
    color: $white;
    font-weight: 900;
    line-height: 2rem;
  }
  .open-search {
    font-size: 2em;
    margin-right: .25em;
  }
}

section {
  &.ranking {
    @extend .background-turquoise;
    color: $white;
  }
  &.time-matrices {
    @extend .background-concrete;
  }
  &.top-types {
    @extend .background-midnight-blue;
    color: $white;
  }
  &.choropleth-map {
    @extend .background-orange;
  }
  &.nao-atendidos {
    @extend .background-pomegranate;
  }
  &.atendidos {
    @extend .background-emerland;
  }
  &.statistics {
    @extend .background-peter-river;
  }
  &.social-trends {
    @extend .background-carrot;
  }
  &.comments {
    @extend .background-silver;
  }
  .section-info {
    padding-top: 2vh;
    &.first {
      padding-top: 1vh;
    }
  }
  .content {
    padding-bottom: 2vh;
    &.last {
      padding-bottom: 1vh;
    }
  }
}

footer {
  text-align: center;
  font-size: .875em;
  .dataviz,
  .license {
    margin: 1em auto;
    display: block;
  }
  .dataviz {
    max-width: 50%;
  }
  .license {
    width: 75px; // @2x
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      display: block;
    }
  }
  strong {
    color: $concrete;
    text-transform: uppercase;
  }
}

.ranking-content {
  .description {
    text-transform: lowercase;
  }
  .big-number {
    display: block;
    font-size: 2em;
    color: $white;
    small {
      font-size: .5em;
      color: $wet-asphalt;
    }
  }
  .ranking {
    @include box-sizing;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 5px 0 0;
    margin-bottom: 10px;
    font-size: .875em;
    &:nth-child(2n+2) {
      padding: 0 0 0 5px;
    }
  }
}

.time-matrices-content {
  table,
  th,
  td {
    border: 1px solid lighten($concrete, 10%);
    border-left: 0 none;
    border-right: 0 none;
  }
  th {
    background-color: lighten($concrete, 2%);
  }
  th,
  td {
    padding: 5px;
    text-align: center;
  }
  span.point {
    line-height: 24px;
    text-shadow: lighten($concrete, 10%) 0 1px 0;
  }
  .matrix {
    width: 100%;
    .yes,
    .no {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .yes {
      color: $nephritis;
    }
    .no {
      color: $pomegranate;
    }
    tr {
      td.nopad {
        padding: 0;
      }
    }
  }
}

.top-types-context {
  margin: 1em 0;
  a {
    display: inline-block;
    margin: 0 .5em .5em 0;
    padding: .15em .25em;
    border-radius: 4px;
    color: $turquoise;
    text-decoration: none;
    &:hover {
      background-color: $turquoise;
      color: $white;
    }
  }
}
.top-types-content {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    margin: 0 0 1px 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .big-number {
    color: $white;
    vertical-align: middle;
    display: inline-block;
    font-size: 2em;
  }
  .meter {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background: $belize-hole;
    height: 50px;
    border-right: 2px solid $sun-flower;
  }
}

.atendidos-content,
.nao-atendidos-content {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
    }
  }
  .big-number {
    vertical-align: middle;
    display: inline-block;
    color: $white;
  }
}

.choropleth-map-content {
  ul {
    list-style-type: none;
    display: inline-block;
  }
  .statelybrazil {
    color: darken($orange, 30%);
  }
  h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    .big-number {
      color: $pumpkin;
      font-size: 1.25em;
      vertical-align: middle;
      width: 4em;
      text-align: right;
      margin-right: .5em;
      display: inline-block;
    }
  }
}

@import 'responsive';
@import 'keyframes';
