@import 'helpers';
@import 'colours';

body {
  font-family: 'Lato', sans-serif;
  background-color: $white;
  color: $black;
}
.big-number {
  font-family: 'Impact', sans-serif;
  font-size: 4em;
  color: $turquoise;
}
section {
  .wrapper {
    padding: 10em 0;
    margin: 0 auto;
    overflow: hidden;
  }
  &.most-frequent-complaint-types {
    background-color: $midnight-blue;
    color: $white;
  }
  &.time-matrices {
    background-color: $silver;
  }
  &.choropleth-map {
    @extend .background-sun-flower;
  }
  .half {
    width: 50%;
    float: left;
  }
}
.ranking-plus-info {
  .description {
    text-transform: lowercase;
  }
}
.ranking {
  @include box-sizing;
  width: 20%;
  display: inline-block;
  padding: 30px 0;
  text-align: center;
}
.time-matrices {
  table,
  th,
  td {
    border: 1px solid $concrete;
    border-left: 0 none;
    border-right: 0 none;
  }
  th {
    background-color: $concrete;
    padding: 15px;
  }
}
.matrix {
  width: 100%;
  td {
    text-align: center;
    padding: 10px;
  }
  .point {
    display: inline-block;
    border-radius: 50%;
    color: $wet-asphalt;
    line-height: 16px;
  }
  .semi-circles {
    position: relative;
    span {
      position: absolute;
      display: block;
      text-align: center;
      width: 50px;
      height: 50px;
      top: 50%;
      margin-top: -25px;
      line-height: 50px;
    }
    .yes,
    .no {
      overflow: hidden;
      width: 50%;
      height: 50px;
      vertical-align: middle;
      float: left;
      position: relative;
    }
    .yes {
      color: $nephritis;
      span {
        right: -25px;
      }
    }
    .no {
      color: $pomegranate;
      span {
        left: -25px;
      }
    }
  }
}
.top-types {
  .context {
    margin: 1em 0;
    a {
      display: inline-block;
      margin: 0 1em 0 0;
      padding: .15em .25em;
      border-radius: 4px;
      color: $turquoise;
      text-decoration: none;
      &:hover {
        background-color: $turquoise;
        color: $white;
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    margin: 0 0 1px 0;
    padding: 0;
    position: relative;
  }
  p {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .big-number.count {
    color: $white;
    vertical-align: middle;
    display: inline-block;
    font-size: 2em;
    margin: 0 .75em;
  }
  .meter {
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    background: $belize-hole;
    height: 50px;
    border-right: 2px solid $sun-flower;//peter-river;
  }
}

// RESPONSIVE STUFF
@media all and (min-width:1280px){
  .wrapper {
    width: 1200px;
  }
}
@media all and (max-width: 1280px) {
  .wrapper {
    width: 1200px;
  }
}
@media all and (max-width: 1024px) {
  .wrapper {
    width: 960px;
  }
}
@media all and (max-width: 800px) {
  .wrapper {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media all and (max-width: 400px) {
  .wrapper {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
